<div id="login-widget" class="ui-widget ui-corner-all">
  <div class="wj-page-widget ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <h2>Login</h2>
  </div>
  <div class="wj-page-content ui-widget-content ui-corner-bottom">
    <form id="login" class="container">
      <p class="msg"></p>
      <div class="item ui-helper-clearfix">
        <label for="name">Login name</label>
        <div>
          <input id="name" type="text" name="name"></input>
        </div>
      </div>
      <div class="item ui-helper-clearfix">
        <label for="password">Password</label>
        <div>
          <input id="password" type="password" name="password"></input>
        </div>
      </div>
      <div class="ui-dialog-buttonpane buttonpane">
        <button class="ui-button" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

