div#add_gadget_dialog {
    background-color: #ffffff;
}

div#add_gadget_dialog form{
    clear:both;
}

div#add_gadget_dialog div.image {
    width: 150px;
    height: 90px;
    float: left;
    text-align: center;
}

div#add_gadget_dialog div.image img{
    border: solid 1px #5284E6;
}

div#add_gadget_dialog h2 {
    font-size: 1em;
}

div#add_gadget_dialog div.description {
    font-size: 0.8em;
}

div#add_gadget_dialog div.action {
    margin-left: 160px;
    margin-top: 10px;
    text-align: right;
    font-size: 0.8em;
}