div.gadget {
    margin-bottom: 10px;
}

div.gadget-title-bar-label{
    margin-left: 5px;
}

div.gadget-title-bar-label span{
    font-size: 9pt;
}

span.gadget-title-bar-buttons{
    font-size: 7pt;
}

div.gadget-body iframe {
    width : 100%;
    height: 100%;
}

div.container-edit-mode div.gadget div.gadget-title-bar{
    cursor: move;
}

ul.gadget-title-bar-buttons {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

ul.gadget-title-bar-buttons li{
    float:right;
    margin: 3px;
    cursor: pointer;
}
