body {
  font-size: 9pt;
}
a img {
    border: none;
}

/**
 * Main three blocks
 **/
div#header {
    clear:both;
}

div#site-actions {
  
}

div#main {
    clear:both;
    width: 100%;
    overflow:hidden;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div#footer {
    clear:both;
}

div#page-actions {
    float:right;
}

div#page-message {
    font-size: 12px;
    position:absolute;
    width: 66%;
    left: 17%;
}

div#page-message div{
    padding: 5px 5px 5px 5px;
}

/**
 * Container layouts
 **/
div#container-top {
    margin-bottom: 10px;
}

div#wrapper {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

div#wrapper-main{
    width: 100%;
    float: right;
}

div#container-center {
}
div#container-left {
    float: right;
}
div#container-right {
    float: left;
}

div#container-bottom{
    clear: left;
}

div.container {
    padding: 5px 5px 0 5px;
}

div.container-edit-mode {
    padding: 10px 5px 10px 5px;
    border: dotted 3px #d8e8f9;
}

/**
 * Gadget behaviors
 */
/* delete button */
div.container ul.gadget-title-bar-buttons span.ui-icon-close {
    display: none;
}
div.container-edit-mode ul.gadget-title-bar-buttons span.ui-icon-close {
    display: block;
}

/* minimize button */
div.container ul.gadget-title-bar-buttons span.ui-icon-minus {}
div.container-edit-mode ul.gadget-title-bar-buttons span.ui-icon-minus {}

/**
 * Banner
 */
div.powered-by {
    color: #ccccaa;
    text-align: center;
    font-size: x-small;
}