<table class="user_list">
  <thead>
    <tr>
      <th class="login_name">Login Name</th>
      <th class="type">Type</th>
      <th class="status">Status</th>
      <th class="created_at date">Created</th>
      <th class="last_login_at datetime">Last Login</th>
    </tr>
  </thead>
  <tbody>
    {#param name=date value=new Date()}
    {#param name=count value=0}
    {#foreach $T as user}
    {#if $P.count % 2 == 0}
    <tr class="even">
    {#else}
    <tr class="odd">
    {#/if}
    <td class="login_name">{$T.user.login_name}</td>
    <td class="type">{$T.user.type_string}</td>
    <td class="status">{$T.user.status_string}</td>
    <td class="created_at date">
      {$P.date.setISO8601($T.user.created_at).strftime("%Y-%m-%d")}
    </td>
    <td class="last_login_at datetime">
      {#if $T.user.last_login_at}
      {$P.date.setISO8601($T.user.last_login_at).strftime("%Y-%m-%d %H:%M:%S")}
      {#else}
      -
      {#/if}
    </td>
    </tr>
    {#param name=count value=$P.count + 1}
    {#/for}
  </tbody>
</table>
