<div class="form-container">
  <% form_tag do -%>
  <fieldset>
    <div>
      <label style="width: 80px" for="list_items">Per Page</label>
      <%= select_tag 'per_page',
          options_for_select([5, 10, 25, 50].map{|n| [n, n]}, widget.parameters[:per_page]),
          {:style=> "width: 4em;"}%>
    </div>
  </fieldset>
  <% end -%>
</div>
