<div id="footer">
  <div class="powered-by">
    <span>Powered by <a href="http://project.webjourney.org/webjourney/trac">WebJourney</a> &copy; 2006-2009 webjourney.org </span>
  </div>
</div>
<div id="dialogs">
<% for(var i in site.dialogs){ %>
<%= render(site.dialogs[i], bindings) %>
<% } %>
</div>
</body>
<script type="text/javascript" src="/_utils/script/json2.js"></script>
<script type="text/javascript" src="/_utils/script/couch.js"></script>
<script type="text/javascript" src="/_utils/script/jquery.js"></script>
<script type="text/javascript" src="<%= assetPath %>/javascripts/vendor/jquery/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="<%= assetPath %>/javascripts/vendor/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="/_utils/script/jquery.cookies.js"></script>
<script type="text/javascript" src="/_utils/script/jquery.couch.js"></script>
<script type="text/javascript" src="<%= assetPath %>/vendor/couchapp/jquery.couchapp.js"></script>
<script type="text/javascript" src="<%= assetPath %>/javascripts/jquery.webjourney.js"></script>
<script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney.js"></script>
<script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney/site.js"></script>
<% for(var i in site.javascripts){ %>
<script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney/<%= site.javascripts[i] %>"></script>
<% } %>
</html>
