<ul>
  <li><%= navigation_menu "Page",   :action => "page_header" %></li>
  <li><%= navigation_menu "Design", :action => "page_design" %></li>
  <li><%= navigation_menu "SMTP",   :action => "smtp" %></li>
  <li><%= navigation_menu "Account",   :action => "account" %></li>
</ul>
