<div class="form-container">
  <% form_remote_tag(:update => {
                       :success => page.dom_id("form"),
                       :failure => page.dom_id("form")
                     },
                     :url    => smtp_system_configurations_path,
                     :loading => disable_submit_button(page.dom_id("smtp_submit")),
                     :complete => enable_submit_button(page.dom_id("smtp_submit"))
                     ) do -%>
  <%= lazy_load_block smtp_system_configurations_path, :id => page.dom_id("form")%>
  <div style="margin-left:110px">
    <%= submit_tag "Save",
       :id => page.dom_id("smtp_submit"),
       :class => "submit" %>
  </div>
  <% end -%>
</div>
