<div id="main">
  <div class="ui-widget ui-widget-content ui-corner-all gadget">
    <div class="ui-widget ui-state-default ui-widget-header ui-corner-all gadget-title-bar">
      <div class="gadget-title-bar-label">
        <span>Authentication</span>
      </div>
    </div>
    <div class="ui-widget gadget-body">
      <div class="gadget-embedded-content">
        <div id="tabs">
          <ul>
            <li><a href="#login">Login</a></li>
            <li><a href="#signup">Sign Up</a></li>
          </ul>
          <div id="login">
            <div class="sform">
              <form method="POST" action="#login">
                <fieldset>
                  <div>
                    <label for="username">User Name</label>
                    <div>
                      <input type="text" name="username"></input>
                    </div>
                  </div>
                  <div>
                    <label for="password">Password</label>
                    <div>
                      <input type="password" name="password"></input>
                    </div>
                  </div>
                </fieldset>
                <div class="buttonrow">
                  <button type="submit">Login</button>
                </div>
              </form>
            </div>
          </div>
          <div id="signup">
            <div class="sform">
              <form method="POST" action="#signup">
                <p class="legend">
                  <strong>Account constraints note:</strong>
                  <ul>
                    <li>All fields are required.</li>
                    <li><strong>Username</strong> should be longer than 4 characters.</li>
                    <li>Alphabetic characters(<strong>a~z</strong>, <strong>A~Z</strong>), digits(<strong>0</strong>~<strong>9</strong>) and underscore(<strong>_</strong>) can be used in <strong>Usermame</strong>.</li>
                    <li><strong>Password</strong> should be longer than 4 characters.</li>
                  </ul>
                </p>
                <fieldset>
                  <div>
                    <label for="username">Username</label>
                    <div>
                      <input type="text" id="signup_username" name="username"></input>
                    </div>
                  </div>
                  <div>
                    <label for="password">Password</label>
                    <div>
                      <input type="password" name="password" ></input>
                    </div>
                  </div>
                  <div>
                    <label for="password">Password (Confirm)</label>
                    <div>
                      <input type="password" name="password_confirm" ></input>
                    </div>
                  </div>
                </fieldset>
                <div class="buttonrow">
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div><!-- register -->
        </div><!-- tabs -->
      </div>
    </div>
  </div>
</div>
