<div id="add_gadget_dialog" title="Add Gadget">
  <div id="add_gadget_dialog_tabs">
    <ul>
      <li><a href="#add_gadget_from_directory">From Directory</a></li>
      <li><a href="#add_gadget_from_uri">From URI</a></li>
    </ul>
    <div id="add_gadget_from_directory">
    </div>
    <div id="add_gadget_from_uri">
      <form action="javascript:void(0);">
        <input  type="text" name="gadget_xml_uri" style="width: 90%"></input>
        <button type="button">Add</button>
      </form>
    </div>
  </div>
</div><!-- add_gadget_dialog -->
