<div class="content">
  <table class="alphabet">
    <tbody>
      <tr>
        <% ("a".."z").each do |c| -%>
        <td class="<%= c %>"><a href="javascript:void(0);" onclick="UsersAndRolesPage.loadUserList('<%= c %>');"><%= c.upcase %></a></td>
        <% end -%>
      </tr>
    </tbody>
  </table>
  <div id="<%= page.dom_id("user_list") %>">
  </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
UsersAndRolesPage.loadUserList("a");
});
</script>
