<div class="form-container">
  <% form_remote_tag(:update => {
                       :success => page.dom_id("form"),
                       :failure => page.dom_id("form")
                     },
                     :url    => system_account_path(current_user.login_name, :_method => "put"),
                     :loading => disable_submit_button(page.dom_id("account_submit")),
                     :complete => enable_submit_button(page.dom_id("account_submit"))
                     ) do -%>
  <%= lazy_load_block edit_system_account_path(current_user.login_name), :id => page.dom_id("form")%>
  <div style="margin-left:110px">
    <%= submit_tag "Save",
       :id => page.dom_id("account_submit"),
       :class => "submit" %>
  </div>
  <% end -%>
</div>
