<%= align_form(page.dom_id("password"), :label_width => 150) %>
<% form_remote_tag(:url => formatted_password_system_account_path(@account.login_name, "json"),
                   :datatype => "json",
                   :loading   => now_loading(page.dom_id("password")),
                   :success   => "MyAccountPage.onUpdatePasswordSuccess(request)",
                   :failure   => "MyAccountPage.onUpdatePasswordFailure(request)",
                   :complete  => clear_overlay(page.dom_id("password")),
                   :html      => {
                     :method => "put",
                     :id       => page.dom_id("password"),
                     :onsubmit => validate_form(page.dom_id("password"))
                   }) do -%>
<fieldset>
  <legend>Password</legend>
  <div style="display:none" class="error"></div>
  <div class="field">
    <label class="name">
      Password
    </label>
    <input type="password" name="account[password]"  class="required" />
  </div>
  <div class="field">
    <label class="name">
      Password (Re-type)
    </label>
    <input type="password" name="account[password_retype]" class="required" />
  </div>
  <div class="action">
    <%= submit_tag "Save" %>
  </div>
</fieldset>
<% end -%>
