<script type="text/javascript">
jQuery(document).ready(function(){
  var target = <%= widget.dom_id("content").to_json %>;
  tinyMCE.init({
    mode : "exact",
    theme : "advanced",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    elements : target
  });
  Page.getWidgetInstance(<%= widget.id.to_json %>).beforeUpdate = function(){
    var editor = tinyMCE.get(target);
    editor.save();
  };
});
</script>
<div class="form-container">
  <% form_tag do %>
  <%= text_area_tag('content', widget.parameters[:content],
                    :rows => 10, :style => "width: 99%",
                    :id => widget.dom_id("content") ) %>
  <% end -%>
</div>
