<div class="content">
  <%= align_form(widget.dom_id("form"), :label_width => 80) %>
  <form id="<%= widget.dom_id("form") %>">
    <fieldset>
      <div class="field">
        <label class="name" for="url">Feed URL</label>
        <%= text_field_tag 'url', widget.parameters[:url], :size => 50 %>
      </div>
      <div class="field">
        <label class="name" for="list_items">List Items</label>
        <%= select_tag 'list_items',
            options_for_select([5, 10, 20].map{|n| [n, n]}, widget.parameters[:list_items]),
            {:style=> "width: 4em;"}%>
      </div>
    </fieldset>
  </form>
</div>
