<div class="content">
  <div class="feed">
    <% @items.each_with_index do |item, index| %>
    <div class="item">
      <%= toggle_button(dom_id(index)) %>
      <span class="link">
        <%=link_to h(item.title), item.url, :target => "_blank" %>
      </span>
      <div id="<%= dom_id(index) %>" class="content" style="display:none">
        <%= sanitize(item.content) %>
      </div>
    </div>
  <% end %>
  </div>
</div>

