<div class="content">
  <% if @account.status == WjUser::Status[:prepared] -%>
  <%= render :partial => "show_prepared" %>
  <% end -%>
  <% if @account.status == WjUser::Status[:active] -%>
  <%= render :partial => "show_active" %>
  <% end -%>
  <% if @account.status == WjUser::Status[:locked] -%>
  <%= render :partial => "show_locked" %>
  <% end -%>
  <% if @account.status == WjUser::Status[:destroyed] -%>
  <%= render :partial => "show_destroyed" %>
  <% end -%>
</div>
