<div class="content">
  <table>
    <tbody>
      <tr><th>All Users</th>    <td><%= WjUser.count %></td></tr>
      <tr><th>Active Users</th> <td><%= WjUser.number_of_active_user %></td></tr>
      <tr><th>All Roles</th>    <td><%= WjRole.count %></td></tr>
    </tbody>
  </table>
</div>
