<div class="content">
  <table class="alphabet">
    <tbody>
      <tr>
        <% ("a".."z").each do |c| -%>
        <td><a href="javascript:void(0);" onclick="loadUserList(this, '<%= system_accounts_path(:starts_with => c) %>');"><%= c.upcase %></a></td>
        <% end -%>
      </tr>
    </tbody>
  </table>
  <div id="users">
    <div id="user_list"></div>
  </div>
</div>
<script type="text/javascript">
loadUserList = function(a, url){
  $("div.content table tbody tr td a.selected").removeClass("selected");
  $(a).addClass("selected");
  $("#user_list").load(url, null, function(){
    var table = this;
    $(table).find("table.account tbody tr").each(function(index){
      if( index % 2 == 0){
        $(this).addClass("even");
      }else{
        $(this).addClass("odd");
      }
    });
  });
};
$(document).ready(function(){
   loadUserList($("div.content table tbody tr td a:first"),
       <%= system_accounts_url(:start_with => 'a').to_json %>);
});
</script>
