<div class="ui-widget ui-corner-all">
  <div class="wj-page-widget ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <h2>Create your profile - {{page.user.name}}</h2>
  </div>
  <div class="wj-page-content ui-widget-content ui-corner-bottom">
    <p>Your profile is not found on this server. You need to create one.</p>
    <form id="create_profile" class="container">
      {{p._form}}
      <div class="ui-dialog-buttonpane buttonpane">
        <button class="ui-button" type="submit">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
