<div class="content">
  <%= align_form(page.dom_id("form"), :label_width => 150) %>
  <% form_remote_tag(:url => formatted_account_system_configurations_path("json"),
                     :datatype => "json",
                     :loading   => now_loading(page.dom_id("form")),
                     :success   => "SiteConfigurationPage.onAccountUpdateSuccess(request)",
                     :failure   => "SiteConfigurationPage.onAccountUpdateFailure(request)",
                     :complete  => clear_overlay(page.dom_id("form")),
                     :html      => {
                       :method => "put",
                       :id => page.dom_id("form"),
                       :onsubmit => validate_form(page.dom_id("form"))
                     }) do -%>
  <div style="display:none" class="info">
    Updated successfully.
  </div>
  <div style="display:none" class="error"></div>
  <fieldset>
    <legend>Account Control Configuration</legend>
    <div class="field">
      <label class="name">Allow Password User</label>
      <%= check_box 'config', 'account_allow_local_db_register' %>
    </div>
    <div class="field">
      <label class="name">Allow OpenID User</label>
      <%= check_box 'config', 'account_allow_open_id_register' %>
    </div>
    <div class="action">
      <%= submit_tag 'save' %>
    </div>
  </fieldset>
  <div class="spacer"></div>
  <% end %>
</div>
