
div.gadget-chrome {
    margin-bottom: 10px;
}

span.gadgets-gadget-title {
    font-size: 9pt;
    margin-left: 5px;
}

span.gadgets-gadget-title-button-bar{
    font-size: 7pt;
}

div.gadgets-gadget-content iframe {
    width : 100%;
    height: 100%;
}