div.content div.entry {
}

div.content div.entry div.doc {
    background-color: #ecefff;
    padding: 3px;
}

div.content div.entry div.doc div.header {
    margin: 0.5em;
}
div.content div.entry div.doc div.header h3.title {
    color: #003399;
    font-family: serif;
    font-size: large;
}

div.content div.entry div.doc div.header div.links {
    font-size: x-small;
    margin-top: 0;
    margin-left: 10px;
    text-align: left;
}
div.content div.entry div.doc div.header div.tags span a{
    margin-left: 3px;
}
div.content div.entry div.doc div.content {
    background-color: #ffffff;
    margin: 0;
    padding: 1em 1.5em 1em 1em
}

div.content div.entry div.footer {
    color: #003399;
    border: none;
    margin-bottom: 1.5em;
}
div.content div.entry div.footer div.links {
    margin-top: 5px;
}
div.content div.entry div.footer div.links span.updated_at:before {
    content: "Updated: "
}

div.content div.entry div.footer div.links span.updated_at {
    color: #aaa;
}

div.content div.entry div.footer div.links a{
    padding-top: 5px;
}

div.content div.comments div.list {
    margin: 1em 1em 1em 1em;
}

div.content div.comments div.list div.comment {
    margin: 1em 0 0 0;
    padding: 5px 3px 3px 3px;
    background-color: #ffffcc;
    width: 60%;
}

div.content div.comments div.list div.even {
    margin-left: 0;
}

div.content div.comments div.list div.odd {
    margin-left: 39%;
}

div.content div.comments div.list div.comment div.header {
    padding: 0 0 3px 0;
}
div.content div.comments div.list div.odd div.header {
    text-align: right;
}

div.content div.comments div.list div.comment span.created_at {
    font-size: x-small;
    color: #999999;
}

div.content div.comments div.list div.text {
    padding: 1em;
    background-color: #ffffff;
}

