@import "common.css";

div.blog_my_home_manage div.navigation a {
    margin-left: 5px;
    margin-right: 5px;
}
div.widget div.body div.blog_my_home_manage div.navigation a.disabled {
    text-decoration: none;
    color: #ccc;
    cursor: default;
}

div.blog_my_home_manage div.bookmarklet {
    margin: 1em 1.5em 1em 1.5em;
}

div.blog_my_home_manage div.bookmarklet pre {
    border: #ccf solid 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow-x: auto;
    width: 100%;
}


table.settings th.title,
table.settings th.description {
    text-align:left;
}

table.settings tbody tr {
    height: 30px;
}

table.settings td.manage,
table.settings td.edit,
table.settings td.delete,
table.blog_entries td.edit,
table.blog_entries td.delete{
    text-align:center;
}

table.settings td.manage img,
table.settings td.edit img,
table.settings td.delete img,
table.blog_entries td.edit img,
table.blog_entries td.delete img{
    vertical-align: middle;
}

table.settings td.title {
    width: 20em;
}

table.settings td.manage,
table.settings td.edit,
table.settings td.delete {
    width : 3em;
}


table.blog_entries th.title{
    text-align:left;
}

table.blog_entries tbody tr {
    height: 30px;
}

table.blog_entries th.post_date{
    width : 7.5em;
}
table.blog_entries th.updated_at{
    width : 15em;
}

table.blog_entries th.edit,
table.blog_entries th.delete {
    width : 3em;
}


table.blog_entries td.post_date,
table.blog_entries td.updated_at,
table.blog_entries td.edit,
table.blog_entries td.delete{
    text-align:center;
}

table.blog_entries td.edit img,
table.blog_entries td.delete img{
    vertical-align: middle;
}


div.blog_entry_link_frame {
    width: 90%;
    margin: 1em 5% 1em 5%;
}

div.blog_entry_link_frame iframe {
    border: none;
    width: 100%;
    height: 400px;
}


