/**
 * CSS Form color
 **/
form {
}

form div.error {
    background-color: #fff;
    border-color: #b7ddf2;
    color: #cf3330;
}

form fieldset {
    border-color: #b7ddf2;
}

form fieldset legend {
    color: #0a3fa5;
}

form label.error {
    color: #ff0000;
}

form input[type="text"],
form input[type="password"]{
    border-color:  #aacfe5;
}

form input[type="text"]:focus,
form input[type="password"]:focus{
    background-color: #fcfccc;
    border-color: #aacfe5;
}

form input[type="submit"]{
    background-color: #0a3fa5;
    color:#FFFFFF;
}

form input.error[type="text"],
form input.error[type="password"]{
    border-color:  #f53c3c;
    background-color: #f5cece;
}

form input.error[type="text"]:focus,
form input.error[type="password"]:focus{
    border-color:  #f53c3c;
    background-color: #fcfccc;
}

form input[type="submit"],
form input[type="button"]{
    background-color: #0a3fa5;
    color:#FFFFFF;
}

form input[type="button"]{
    background-color: #0a3fa5;
    color:#FFFFFF;
}
