/*
   this file defines inline icons
   naming rule:
   icon_xxxx shoud be contains
     background-image: url(./images/xxxx.png);
*/

*.with_inline_icon {
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 20px;
    padding-top: 3px;
}
*.with_inline_iconr {
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 20px;
    padding-top: 3px;
}

a.with_button_icon {
    background-repeat: no-repeat;
    background-position: 0% 50%;
    height: 16px;
    width: 16px;
    display:block;
    float:left;
}

*[class~=with_inline_icon].icon_mypage {
    background-image: url(./images/mypage.png)
}

*[class~=with_inline_icon].icon_user {
    background-image: url(./images/user.png)
}

*[class~=with_inline_icon].icon_anonymous {
    background-image: url(./images/anonymous.png)
}

*[class~=with_inline_icon].icon_login {
    background-image: url(./images/login.png)
}

*[class~=with_inline_icon].icon_logout {
    background-image: url(./images/login.png)
}


*[class~=with_inline_icon].icon_page-edit {
    background-image: url(./images/page-edit.png)
}

*[class~=with_inline_icon].icon_page-delete {
    background-image: url(./images/page-delete.png)
}

*[class~=with_inline_icon].icon_page-settings {
    background-image: url(./images/page-settings.png)
}

*[class~=with_inline_icon].icon_page-permissions {
    background-image: url(./images/page-permissions.png)
}

*[class~=with_inline_icon].icon_page-changed {
    background-image: url(./images/page-changed.png)
}

*[class~=with_inline_icon].icon_page-saving {
    background-image: url(./images/page-saving.gif)
}

*[class~=with_inline_icon].icon_page-deleting {
    background-image: url(./images/page-deleting.gif)
}

*[class~=with_inline_icon].icon_page-create {
    background-image: url(./images/page-new.png)
}

*[class~=with_inline_icon].icon_page-save {
    background-image: url(./images/page-save.png)
}


*[class~=with_inline_icon].icon_page-edit-back {
    background-image: url(./images/page-edit-back.png)
}

*[class~=with_inline_icon].icon_widget-delete {
    background-image: url(./images/widget-delete.png)
}

*[class~=with_inline_icon].icon_error {
    background-image: url(./images/error.png)
}

*[class~=with_inline_icon].icon_now_loading {
    background-image: url(./images/span-ajax-loading.gif);
}

*[class~=with_inline_icon].icon_saving {
    background-image: url(./images/span-ajax-loading.gif);
}

*[class~=with_inline_icon].icon_toggle_expand {
    background-image:url(./images/toggle_expand.png);
}

*[class~=with_inline_icon].icon_toggle_fold {
    background-image:url(./images/toggle_fold.png);
}

div.widget div.header span.buttons a.edit {
    background-image: url(./images/widget-edit.png);
}

div.widget div.header span.buttons a.delete {
    background-image: url(./images/widget-delete.png);
}
