/** for component navigation widget **/
div.widget div.component_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}
div.widget div.component_navigation ul li {
    border-bottom: 1px solid #90bade;
    margin: 0;
}

div.widget div.component_navigation ul li a,
div.widget div.component_navigation ul li span{
    display: block;
    padding: 5px 5px 5px 0.5em;
    text-decoration: none;
}
div.widget div.component_navigation ul li span{
    text-align:center;
    font-weight: bold;
}

div.widget div.component_navigation ul li a,
div.widget div.component_navigation ul li span{
    width: auto;
}

div.widget div.component_navigation ul li a {
    border-left: 10px solid #1958a7;
    border-right: 5px solid #e0eff4;
    background-color: #fff;
    color: #339;
}

div.widget div.component_navigation ul li a:hover,
div.widget div.component_navigation ul li a.current {
    border-left: 10px solid #1c64d1;
    border-right: 5px solid #5ba3e0;
    background-color: #c5e6f7;
    color: #33f;
    font-weight: bold;
}

div.widget div.component_navigation ul li span {
    background-color: #fff;
    color: #1958b7;
}



/*
div.widget div.component_navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.widget div.component_navigation li {
    margin: 0;
    padding: 0;
    border-bottom: #cccccc solid 1px;
}

div.widget div.component_navigation li a {
    display: block;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding-top: 10px;
}

div.widget div.component_navigation li span.label {
    display: block;
    text-align:center;
    width: 100%;
    height: 15px;
    padding-left: 0;
    margin: 0;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eeeeee;
    font-weight: bold;
}


div.widget div.component_navigation li a:visited {
    color: #6262f1;
}

div.widget div.component_navigation li a:hover {
    background-color: #fcc2a1;
    color: #1212f1;
    font-weight: bold;
}


div.widget div.component_navigation li a span {
    padding-left: 10px;
}

div.widget div.component_navigation li a.current {
    background-color: #fcfc92;
    color: #1212f1;
    font-weight: bold;
}
*/