table thead tr {
    border-top: solid 1px #0A60D6;
    border-bottom: solid 1px #0A60D6;
}

table tbody tr.even {
    background-color: #ecefff;
}
table tbody tr.odd {
    background-color: #ffffcc;
}

