<div class="form-container">
<% form_remote_tag(
   :update => { :success => page.dom_id,
                :failure => page.dom_id("form") },
   :url    => reset_password_form_system_account_path(@account.login_name, :request_passcode => @account.request_passcode),
   :method => :post) do -%>
  <div id="<%= page.dom_id('form') %>"></div>
<% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  Page.getDom('form').load(<%= reset_password_form_system_account_path(@account.login_name, :request_passcode => @account.request_passcode).to_json %>)
});
</script>
