<fieldset>
<div>
  <label style="width: 80px">Description</label>
  <textarea id="page_settings_description" name="page_settings[description]" rows="10" cols="40" ></textarea>
</div>
<div>
  <label style="width: 80px">Copyright</label>
  <input type="text" id="page_settings_copyright" name="page_settings[copyright]" size="40"/>
</div>
<div>
  <label style="width: 80px">Keywords</label>
  <input type="text" id="page_settings_keywords" name="page_settings[keywords]" size="40"/>
</div>
<div>
  <label style="width: 80px">Robots</label>
  <input type="checkbox" id="page_settings_robots_index" name="page_settings[robots_index]" value="1"/><span>Index</span>
  <input type="checkbox" id="page_settings_robots_follow" name="page_settings[robots_follow]"  value="1"/><span>Follow</span>
</div>
</fieldset>
