.page_settings_dialog{
    min-width: 500px;
    min-height: 450px;
}

.page_settings_dialog fieldset {
    padding-left: 80px;
    background-color: #ffffff;
}

.page_settings_dialog div.field label.name {
    width: 80px;
    margin-left: -80px;
}
