<ul>
  <li><%= navigation_label "User" %></li>
  <li><%= navigation_menu "List",          {:action => "user_list"} %></li>
  <li><%= navigation_label "Role" %></li>
  <li><%= navigation_menu "List",               {:action => "role_list"} %></li>
</ul>
