ul.jd_menu,
ul.jd_menu_vertical {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul.jd_menu ul,
ul.jd_menu_vertical ul {
    display: none;
}
ul.jd_menu li {
    width: 80px;
    float: left;
}
ul.jd_menu_vertical {
    width: 300px;
}
ul.jd_menu_vertical li {
    float: none;
}

/* -- Sub-Menus -- */
ul.jd_menu ul,
ul.jd_menu_vertical ul {
    position: absolute;
    display: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    z-index: 10000;
}
ul.jd_menu ul li,
ul.jd_menu_vertical ul li {
    float: none;
    margin: 0px;
}

/* font and colors */
ul.jd_menu,
ul.jd_menu ul,
ul.jd_menu_vertical,
ul.jd_menu_vertical ul {
    height: 20px;
    margin-left: -1px;
}
ul.jd_menu_vertical {
    height: auto;
}
ul.jd_menu ul {
    height: auto;
}
* html ul.jd_menu ul {
    width: 1%;
}
ul.jd_menu li {
    line-height: 14px;
    margin: 0px;
    padding: 4px 7px 3px 7px;
    height: 13px;
    cursor: pointer;
    white-space: nowrap;
}

ul.jd_menu li li {
    width: 150px;
}
ul.jd_menu li a {
    color: #3542c9;
    text-decoration: none;
}

ul.jd_menu li.jdm_hover a {
    color: #ffffff;
}


ul.jd_menu li.jdm_hover,
ul.jd_menu li.jdm_active {
    background-color: #3465ff;
    color: #ffffff;
    padding: 5px 6px 4px 6px;
/*    border: 1px solid #cccccc;
    border-left: 1px solid #aaddff;
    border-top: 1px solid #aaddff; */
}

ul.jd_menu,
ul.jd_menu ul,
ul.jd_menu_vertical,
ul.jd_menu_vertical ul {
    background-color: #ffffff;
}

ul.jd_menu li {
    color: #3465ff;
    font-weight: bold;
/*    border-top: 1px solid #9ba8fe;
    border-bottom: 1px solid #9ba8fe; */
    background-image: url(./images/menu_bullet.gif);
    background-repeat: no-repeat;
}

ul.jd_menu li ul {
    border: 1px solid #cccccc;
}


ul.jd_menu li li {
    border: none;
    background-image: url(./images/sub_menu_bullet.gif);
    background-repeat: no-repeat;
}

