<div class="content">
<h2>Account : <%= @account.login_name %> (Destroyed)</h2>
<table>
  <tbody>
    <tr>
      <th>Type</th>
      <td><%=h @account.type %></td>
    </tr>
    <tr>
      <th>Display Name</th>
      <td><%=h @account.display_name %></td>
    </tr>
  </tbody>
</table>
<p>Delete this account?</p>
</div>
