<%= hidden_field(profile, "type") %>
<%= hidden_field(profile, "_id") %>
<%= hidden_field(profile, "_rev") %>
<fieldset>
  <div>
    <label for="displayName-formatted">Display Name<em>*</em></label>
    <div>
      <%= text_field(profile, "displayName-formatted", {class: "required"} )%>
    </div>
  </div>
  <div>
    <label for="birthday-year">Birthday</label>
    <div>
      <%= date_select(profile, "birthday", {
          "include_blank" : true
          }) %>
      <%= clearButton("select[name='birthday-year']") %>
    </div>
  </div>
  <div>
    <label for="gender">Gender</label>
    <div>
      <%= radio_button(profile, "gender", "male") %> Male
      <%= radio_button(profile, "gender", "female") %> Female
      <%= clearButton("input[name='gender']") %>
    </div>
  </div>
  <div>
    <label for="aboutMe">About Me</label>
    <div>
      <%= text_area(profile, "aboutMe", {rows: 8, cols:80})%>
    </div>
    <p class="note">Markdown format is available.</p>
  </div>
</fieldset>
