<table style="width:100%;" class="blog_entries">
  <thead>
    <tr>
      <th class="post_date">Date</th>
      <th class="title">Title</th>
      <th class="updated_at">Update</th>
      <th class="Edit">Edit</th>
      <th class="Delete">Delete</th>
    </tr>
  </thead>
  <tbody>
    {#param name=date value=new Date()}
    {#param name=count value=0}
    {#foreach $T.rows as entry}
    {#if $P.count % 2 == 0}
    <tr class="even">
    {#else}
    <tr class="odd">
    {#/if}
      <td class="post_date">{$P.date.setISO8601($T.entry.post_date).strftime("%Y-%m-%d")}</td>
      <td class="title">
        <a    class="with_inline_icon blog_entry_view" href="">{h($T.entry.title)}</a>
        <br/>
        <span class="with_inline_icon blog_entry_tags">{h(($T.entry.tags || []).join(","))}</span>
      </td>
      <td class="updated_at">{$P.date.setISO8601($T.entry.updated_at).strftime("%Y-%m-%d %H:%M")}</td>
      <td class="edit">
        <a href="javascript:void(0)"
           class="with_inline_icon blog_entry_edit"
           onclick="ManageEntry.editBlogEntry('{$T.entry.id}')">
        </a>
      </td>
      <td class="delete">
        <a href="javascript:void(0)"
           class="with_inline_icon blog_entry_delete"
           onclick="ManageEntry.deleteBlogEntry('{$T.entry.id}')">
        </a>
      </td>
    </tr>
    {#param name=count value=$P.count + 1}
    {#/for}
  </tbody>
</table>
