{#if $T.rows.length == 0}
<div class="info">
  No blogs are found :
  <a href="javascript:void(0);" onclick="MyBlog.openCreateBlogSettingForm()" >"Create a new blog?"</a>
</div>
{#else}
<table style="width:100%;" class="settings">
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="description">Description</th>
      <th class="manage">Manage</th>
      <th class="edit">Edit</th>
      <th class="delete">Delete</th>
    </tr>
  </thead>
  <tbody>
    {#param name=count value=0}
    {#foreach $T.rows as setting}
    {#if $P.count % 2 == 0}
    <tr class="even">
    {#else}
    <tr class="odd">
    {#/if}
    <td class="title">
      <a href="{$P.Page.getAbsoluteUrl('/components/blog/home/')}{h($T.setting.id)}"
         class="with_inline_icon blog_entries_view">
        {h($T.setting.title)}
      </a>
    </td>
    <td class="description">{simple_format($T.setting.description)}</td>
    <td class="manage">
      <a href="{$P.Page.getAbsoluteUrl('/components/blog/my_blog/manage/')}{h($T.setting.id)}"
         class="with_inline_icon blog_entries_manage"
         title="Manage blog entries" />
    </td>
    <td class="edit">
      <a href="javascript:void(0)"
         onclick="MyBlog.openUpdateBlogSettingForm('{$T.setting.id}')"
         class="with_inline_icon blog_setting_edit"
         title="Edit blog settings">
      </a>
    </td>
    <td class="delete">
      <a href="javascript:void(0)"
         onclick="MyBlog.deleteBlogSetting('{$T.setting.id}')"
         class="with_inline_icon blog_setting_delete"
         title="Delete blog settings">
      </a>
    </td>
    </tr>
    {#param name=x value=$P.count+1}
    {#/for}
  </tbody>
</table>
{#/if}
