{#if $T.length == 0}
<div class="info">
  No blogs are found :
  <a href="javascript:void(0);" onclick="MyBlog.openCreateBlogSettingForm()" >"Create a new blog?"</a>
</div>
{#else}
<table style="width:100%;" class="settings">
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="description">Description</th>
      <th class="manage">Manage</th>
      <th class="edit">Edit</th>
      <th class="delete">Delete</th>
    </tr>
  </thead>
  <tbody>
    {#param name=count value=0}
    {#foreach $T as setting}
    {#if $P.count % 2 == 0}
    <tr class="even">
    {#else}
    <tr class="odd">
    {#/if}
      <td class="title">{$T.setting.title}</td>
      <td class="description">{$T.setting.description}</td>
      <td class="manage">
        <a href="{$P.Page.getAbsoluteUrl('/components/blog/my_blog/manage/')}{$T.setting.id}">
          <img src="{$P.Page.getAbsoluteUrl('/components/blog/images/setting_manage.png')}"
               alt="Manage blog entries">
        </a>
      </td>
      <td class="edit">
        <a href="javascript:void(0)" onclick="MyBlog.openUpdateBlogSettingForm('{$T.setting.id}')">
          <img src="{$P.Page.getAbsoluteUrl('/components/blog/images/setting_edit.png')}"
               alt="Edit blog settings">
        </a>
      </td>
      <td class="delete">
        <a href="javascript:void(0)" onclick="MyBlog.deleteBlogSetting('{$T.setting.id}')">
          <img src="{$P.Page.getAbsoluteUrl('/components/blog/images/setting_delete.png')}"
               alt="Delete blog">
        </a>
      </td>
    </tr>
    {#param name=x value=$P.count+1}
    {#/for}
  </tbody>
</table>
{#/if}
