{#param name=date value=new Date()}
{#foreach $T.rows as entry}
<div class="entry">
  <div class="doc">
    <div class="header">
      <h3 class="title">{h($T.entry.title)}</h3>
      <div class="links">
        <span class="with_inline_icon blog_entry_post_date">
          {$P.date.setISO8601($T.entry.post_date).strftime("%Y-%m-%d")}
        </span>
        {#if $T.entry.tags }
        <span class="with_inline_icon blog_entry_tags">
          {#foreach ($T.entry.tags) as tag}
          <a>{h($T.tag)}</a>
          {#/for}
        </span>
        {#/if}
        {#if $T.entry.link }
        <a href="{h($T.entry.link)}"
           class="with_inline_icon blog_entry_link">Refer</a>
        {#/if}
      </div>
    </div>
    <div class="content">
      {$T.entry.content}
    </div>
  </div>
  <div class="footer">
    <div class="links">
      <span class="updated_at">
        {$P.date.setISO8601($T.entry.updated_at).strftime("%Y-%m-%d %H:%M")}
      </span>
      <a href="{$P.Page.getAbsoluteUrl('/components/blog/home')}/{h($T.entry.blog_setting_id)}/entries/{$T.entry.id}"
         class="with_inline_icon blog_entry_view">Permalink</a> /
      <a class="with_inline_icon blog_entries_view"
         href="{$P.Page.getAbsoluteUrl('/components/blog/home/')}{h($T.entry.blog_setting_id)}">{h($T.entry.setting.title)}</a>
    </div>
  </div>
</div>
{#/for}
