<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type"  content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <link href="<%= assetPath %>/stylesheets/webjourney/page.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= assetPath %>/stylesheets/webjourney/gadget.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= assetPath %>/stylesheets/vendor/jquery-ui-themes/cupertino/jquery-ui-1.7.2.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <style type="text/css">
      div#container-left   { width : 200px; }
      div#container-right  { width : 200px; }
    </style>
    <title><%= page.title %></title>
  </head>
  <body>
    <div id="header" class="header">
      <div id="logo"><a href="."><img src="<%= assetPath %>/images/logo.png" /></a></div>
      <div id="page-message"></div>
      <div id="page-actions">
        <div class="show-mode">
          <button onclick="Page.edit();" type="button">Edit</button>
        </div>
        <div class="edit-mode">
          <button onclick="Page.save();" type="button">Save</button>
          <button onclick="Page.cancelEdit();" type="button">Cancel</button>
        </div>
      </div>
    </div>
    <div id="main" class="main">
      <div id="container-top" class="container"></div>
      <div id="wrapper">
        <div id="wrapper-main">
          <div id="container-center" class="container"></div>
        </div>
        <div id="container-left" class="container"></div>
      </div>
      <div id="container-right" class="container"></div>
      <div id="container-bottom" class="container"></div>
    </div>
    <div id="footer">
      <div class="powered-by">
        <span>Powered by <a href="http://project.webjourney.org/webjourney/trac">WebJourney</a> &copy; 2006-2008 webjourney.org </span>
      </div>
    </div>
  </body>
  <!-- TODO /opensocial should be a configurable path -->
  <script type="text/javascript" src="/_utils/script/json2.js"></script>
<!--  <script type="text/javascript" src="<%= assetPath %>/javascripts/vendor/jquery/jquery-1.3.2.min.js"></script> -->
  <script type="text/javascript" src="/_utils/script/jquery.js"></script>
  <script type="text/javascript" src="<%= assetPath %>/javascripts/vendor/jquery/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" src="/_utils/script/jquery.cookies.js"></script>
  <script type="text/javascript" src="/_utils/script/jquery.couch.js"></script>
  <script type="text/javascript" src="<%= assetPath %>/vendor/couchapp/jquery.couchapp.js"></script>
  <script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney.js"></script>
  <script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney/util.js"></script>
  <script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney/message.js"></script>
  <script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney/page.js"></script>
  <script type="text/javascript" src="<%= assetPath %>/javascripts/webjourney/gadget.js"></script>
  <script type="text/javascript">
    $.CouchApp(function(app){
    Page = new WebJourney.Page(<%= toJSON(page) %>, app);
    });
  </script>
</html>
